@import "variables";
@import "node_modules/normalize.css/normalize";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font: {
    family: $main-font;
  }
}

.header {
  background: {
    image: $header-bg;
    size: 100%;
    repeat: no-repeat;
  }
  height: 300px;
}

.navbar-brand {
  font: {
    family: $decorative-font;
    size: 1.5rem;
  }
}

.header h1 {
    font: {
      family: $decorative-font;
      size: 6.5rem;
    }
    letter-spacing: 3px;
  }

.about img{
  width: 100%;
}

.searchbar {
  margin-top: 30px;
  text-align: center;
}

.description {
  text-align: center;
}

.col h2 {
  font: {
    family: $decorative-font;
    size: 3rem;
  }
  border-top: 1px solid $primary;
  padding-top: 20px;
}

.popular-plants-images img {
 width: 200px;
 margin: 20px;

}

.description span {
  font: {
    family: $decorative-font;
    size: 2rem;
  }
}

ul {
  list-style-type: none;
}
// .search {
//   background: {
//     color: $main-bg;
//   }
// }