@import "variables";
@import "node_modules/normalize.css/normalize";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/jquery-ui-dist/jquery-ui.min";

body {
  font: {
    family: $main-font;
  }
}

.header {
  background: {
    image: $header-bg;
    size: 100%;
    repeat: no-repeat;
  }
  height: 300px;

  h1 {
    font: {
      family: $decorative-font;
      size: 6.5rem;
    }
    letter-spacing: 3px;
  }
}

.navbar-brand {
  font: {
    family: $decorative-font;
    size: 1.5rem;
  }
}

.navbar-toggler {
  background: #ffffff;
}

.searchbar {
  margin-top: 20px;
  text-align: center;
}

#searchbar-header {
  font-size: 3rem;
}

.searched-plant-description {
  text-align: center;
}

.section-header {
  font: {
    family: $decorative-font;
    size: 3rem;
  }
}

.general-section {
  border-bottom: 1px solid $primary;
  padding-top: 20px;
}

.popular-plants-images {
  img {
    width: 200px;
    margin: 20px;
  }
}

.fav-plants {
  border-top: 1px solid $primary;
}

.description, .fav-plants {
  span {
    font: {
      family: $decorative-font;
      size: 2rem;
    }
  }
}

ul {
  list-style-type: none;
}

.description {
  ul {
    padding-inline-start: 0 !important;
  }
}

.added-favs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    padding-inline-start: 20px !important;
  }
}

.fav-plants-header {
  display: flex;
  justify-content: space-between;
}

#fav-icon {
  color: $icon-red;
  margin-bottom: 10px;
  display: center;
}

#delete-icon {
  padding: 0;
  color: $icon-red;
  height: 30px;
  border: none;
  outline: none;
}

.about-us {
  img { width: 100%; }
  margin: 30px auto;
}

@media only screen and (max-width: 767px) {
  .navbar-nav  { 
      background-color: #ffffff;
  } 
  .searchbar {
    margin-top: auto;
  }
  .header {
    height: 150px;
  }
}